<html>
    <head>
        <style>
            .dhvhsd{
                background-color: aqua;
            }
            body{
                background-color: yellowgreen;
            }
        </style>
        
    </head>
    <body>
        
        <h4>The some of the authors and their published url's was displayed below</h4><br>
        The author of the 1st article which was written is <p ><%=  userData3[0] %></p> <br> and the url for the 1st artice is <a class="btn btn-dark btn-sm" href="<%= userData3[1] %> ">link</a><br><br>
        The 1st article published at <p class="dhvhsd">  <%= userData3[2] %></p> <br><br>

        The author of the 2nd article which was written is <p > <%= userData3[3] %></p>  <br> and the url for the 2nd artice is <a class="btn btn-dark btn-sm" href="<%= userData3[4] %> ">link</a><br><br>
        The 2nd article published at <p class="dhvhsd"> <%= userData3[5] %></p>  <br><br>


        The author of the 3rd article which was written is <p >  <%= userData3[6] %></p> <br> and the url for the 3rd artice is <a class="btn btn-dark btn-sm" href="<%= userData3[7] %> ">link</a><br><br>
        The 3rd article published at <p class="dhvhsd"> <%= userData3[8] %></p>  <br><br>

        The author of the 4th article which was written is <p > <%= userData3[9] %></p>  <br> and the url for the 4th artice is <a class="btn btn-dark btn-sm" href="<%= userData3[10] %> ">link</a><br><br>
        The 4th article published at <p class="dhvhsd"> <%= userData3[11] %></p>  <br><br>

        The author of the 5th article which was written is<p > <%= userData3[12] %></p>  <br> and the url for the 5th artice is <a class="btn btn-dark btn-sm" href="<%= userData3[13] %> ">link</a><br><br>
        The 5th article published at <p class="dhvhsd"> <%= userData3[14] %></p>  <br><br>

        The author of the 6th article which was written is <p > <%= userData3[15] %></p>  <br> and the url for the 6th artice is <a class="btn btn-dark btn-sm" href="<%= userData3[16] %> ">link</a><br><br>
        The 6th article published at <p class="dhvhsd"> <%= userData3[17] %></p>  <br><br>

        The author of the 7th article which was written is <p > <%= userData3[18] %></p>  <br> and the url for the 7th artice is <a class="btn btn-dark btn-sm" href="<%= userData3[19] %> ">link</a><br><br>
        The 7th article published at <p class="dhvhsd"> <%= userData3[20] %></p>  <br><br>

        The author of the 8th article which was written is <p > <%= userData3[21] %></p>  <br> and the url for the 8th artice is <a class="btn btn-dark btn-sm" href="<%= userData3[22] %> ">link</a><br><br>
        The 8th article published at <p class="dhvhsd"> <%= userData3[23] %></p>  <br><br>
    </body>
</html>